@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.wrapper {
    display: flex;
    margin-left: 0;
    justify-content: space-between;
    align-content: center;
    font-family: 'Montserrat', 'sans-serif';
}

ul {
    display: flex;
    list-style-type: none;
    margin-right: 40px;
}

ul li {
    margin: 20px;
    font-size: 20px;
}

ul li a {
    text-decoration: none;
}

ul li a:hover {
    background-color: red;
}